#root {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main {
  background: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.BirthdayList {
  width: auto;
}
